<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="jdbc" class="ru.job4j.gsmirnov.storage.JdbcStorage">
        <constructor-arg name="url" value="jdbc:mysql://localhost:3306/avito?serverTimezone=Asia/Novosibirsk"/>
        <constructor-arg name="username" value="root"/>
        <constructor-arg name="password" value="mysql"/>
        <constructor-arg name="driver" value="com.mysql.cj.jdbc.Driver"/>
    </bean>

    <bean id="storage" class="ru.job4j.gsmirnov.storage.UserStorage">
        <constructor-arg name="storage" ref="jdbc"/>
    </bean>
    
    <!--<context:component-scan base-package="ru.job4j.gsmirnov.storage"/>-->
</beans>